.th
{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);
}
body
{
	margin:0;
	padding:0;
	background-image:url(../images/library.jpg);
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}
.loginbox input[type="text"]
{
		border:none;
		border-bottom:1px solid #fff;
		background:transparent;
		outline:none;
		height:40px;
		color:#fff;
		font-size:16px;
}
h1
{
	color:white;
}
.loginbox input[type="submit"] 
{
	border:none;
	outline:none;
	height:40px;
	background:red;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background:orange;
	color:#000;
}

.loginbox button
{
	border:none;
	outline:none;
	height:40px;
	background:red;
	color:#fff;
	font-size:18px;
	border-radius:20px;
	margin-right: 50px;
}
.loginbox button:hover
{
	cursor:pointer;
	background:orange;
	color:#000;
}

table{
	width: 450px;
}
td
{
	color:white;
	margin-left: 50px;
}
.loginbox
{
	width:480px;
	height:550px;
	background:#000;
	top:50%;
	left:50%;
	color:#fff;
	transform:translate(-50%,-50%);
	position:absolute;
	box-sizing:border-box;
	padding:70px 30px;
}
.btn
{
	border:none;
	outline:none;
	height:60px;
	width:130px;
	background:red;
	color:#fff;
	font-size:18px;
	margin-bottom:20px;
	display:block;
	position:relative;
	bottom:-20px;
}
a
{
	text-decoration:none;