body
{
	background-image:url(../images/library.jpg);
	background-size:cover;

}
.loginbox input[type="text"] 
{
		background:transparent;
		outline:none;
		height:40px;
		color:black;
		font-size:16px;
}
.loginbox input[type="submit"] 
{
	border:none;
	outline:none;
	height:40px;
	background:red;
	color:#fff;
	font-size:16px;
	border-radius:20px;
}
.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background:orange;
	color:#000;
}
.table
{
	background-color:#fff;
	border-collapse:collapse:
	
}
