*{
	margin:0;
	padding:0;
	font-family:Century gothic;
}
body
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/library.jpg);
	height:100%;
	background-size:cover;
}
.loginbox
{
	overflow: scroll;
	width:450px;
	height:550px;
	background:#000;
	top:50%;
	left:50%;
	color:#fff;
	transform:translate(-50%,-50%);
	position:absolute;
	box-sizing:border-box;
	padding:70px 30px;
}
.loginbox::-webkit-scrollbar{
	display: none;
}
.loginbox input[type="text"],input[type="password"]
{
		border:none;
		border-bottom:1px solid #fff;
		background:transparent;
		outline:none;
		height:30px;
		color:#fff;
		font-size:16px;
}
.loginbox input[type="date"]{
		border:none;
		border-bottom:1px solid #fff;
		outline:none;
		height:30px;
		color:#000;
		font-size:16px;
}
td
{ 
padding: 5px;
color:white;
}
.loginbox input[type="submit"]
{
	border:none;
	border-radius: 10px;
	outline:none;
	height:30px;
	width:80px;
	background:red;
	color:#fff;
	font-size:18px;
	position:center;
}
.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background:orange;
	color:#000;
}
a
{
	cursor:pointer;
	background:black;
	color:orange;
}
table{
	width: 400px;
}
.button
{
	border:none;
	outline:none;
	height:60px;
	width:130px;
	background:red;
	color:#fff;
	font-size:18px;
	margin-bottom:20px;

}