*{
	margin:0;
	padding:0;
	font-family:Century gothic;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/library.jpg);
	height:100%;
	background-size:cover;
	background-position:center;
}
ul
{
	float:right;
	list-style-type:none;
	margin-top:25px;
	margin-right:30px;
}
ul li
{
	display:inline-block;
	position:relative;
}
ul li.active a
{
	color:black;
	background-color:white;
}
ul li a
{
	text-decoration:none;
	color:#fff;
	padding:5px 20px;
	border:1px solid #fff transparent;
	transition:0.6s ease;
}
ul li a:hover
{
	background-color:white;
	color:black;
}
h1
{
	position:absolute;
	top:30%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:70px;
	color:#fff;
}
.button{

	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.btn
{
	border: 1px solid #fff;
	padding:10px 30px;
	text-decoration:none;
	color:white;
}
a:hover
{
	background-color:white;
	color:black;
}
